body {
  background-color: red;
  background-image: url(522a5e328246f7086f832cb2c824ed19.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19b3e6;
  color: #fff;
  font-size: 1.8em; }

